.ui.card > .image > img,
.ui.cards > .card > .image > img {
  height: 25rem !important;
}

@media only screen and (max-width: 767px) {
  .ui.card > .image > img,
  .ui.cards > .card > .image > img {
    height: 10rem !important;
  }
  .ui.stackable.cards > .card {
    width: calc(100% - 30em) !important;
  }
}

@media only screen and (max-width: 1032px) {
  .ui.card > .image > img,
  .ui.cards > .card > .image > img {
    height: 18rem !important;
  }
}

@media only screen and (max-width: 588px) {
  .ui.card > .image > img,
  .ui.cards > .card > .image > img {
    height: 15rem !important;
  }
  .ui.stackable.cards > .card {
    width: calc(100% - 10em) !important;
  }
}
